@page "/"

@inject HttpClient http;

<h1>Listado</h1>

@if (listaPersonas.Count > 0)
{
    <ol class="list-group list-group-numbered">
        @foreach (var persona in listaPersonas)
       {
           <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">@persona.first_name</div>
              @persona.email
            </div>
            <span class="badge badge-primary rounded-pill">@persona.id</span>
          </li>
       }
      
    </ol>
}
else
{
    <h3 class="text-warning">Sin Resultados</h3>

}

@code{
    List<Personas> listaPersonas = new();

    protected override async Task OnInitializedAsync()
    {
        listaPersonas = 
        await http.GetFromJsonAsync<List<Personas>>("https://my.api.mockaroo.com/personas.json?key=e6618a10");
    }
}
